<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>webpkg.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistiche</servlet-name>
        <servlet-class>webpkg.Statistiche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TwitterClient$OAuthLoginServlet</servlet-name>
        <servlet-class>webpkg.TwitterClient$OAuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterClient$OAuthCallbackServlet</servlet-name>
        <servlet-class>webpkg.TwitterClient$OAuthCallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterServlet</servlet-name>
        <servlet-class>webpkg.TwitterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistiche</servlet-name>
        <url-pattern>/Statistiche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterClient$OAuthLoginServlet</servlet-name>
        <url-pattern>/OAuthLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterClient$OAuthCallbackServlet</servlet-name>
        <url-pattern>/OAuthCallback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterClient$OAuthLoginServlet</servlet-name>
        <url-pattern>/OAuthLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterClient$OAuthCallbackServlet</servlet-name>
        <url-pattern>/OAuthCallback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterServlet</servlet-name>
        <url-pattern>/TwitterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>aristo</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>faces/home.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>ControlloreValutazione</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>luncharoundpkg.ControlloreValutazioneLocal</local>
        <ejb-link>luncharound-ejb.jar#ControlloreValutazione</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ControlloreValutazione1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>luncharoundpkg.ControlloreValutazioneLocal</local>
        <ejb-link>luncharound-ejb.jar#ControlloreValutazione</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ControlloreLocale</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>luncharoundpkg.ControlloreLocaleLocal</local>
        <ejb-link>luncharound-ejb.jar#ControlloreLocale</ejb-link>
    </ejb-local-ref>
</web-app>
